body {
  margin: 0;
  background-color: #d2d2d2;  
  display: flex;
  justify-content: center;
}
.page{
  
}
.saudacao{
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.rating{
  font-size: 50px;
  
}

.card{
  display: flex;
  margin-top: 15px;
  width: 700px;
  height: 150px;
  background: rgb(74, 84, 171);
  border-radius: 10px;
  color: white;
  justify-content: center;
  align-items: center;
}

.card h1{
  font-size: 20px;
}

.card p{
  font-size: 13px;
}
.foto{
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border-radius: 100%;
}
